body{
    background: linear-gradient(-45deg, #FE7BE5, #974EC3, #504099, #313866);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    min-height: 100vh;
}

h1{
    font-family: Nabla, sans-serif;
    margin-top: 20px;
    font-size: 7rem; 
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}

p{
    font-family: Nabla, sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

#header{
    text-align: center;
}

#playAgain{
    font-family: Nabla, sans-serif;
    text-align: center;
    position: relative;
    top: 100px;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    display: none;
}

button{
    font-family: Nabla, sans-serif;
    font-size: 4rem;
    margin-top: 150px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

#hard{
    margin-top: 10px;
}

#gameContainer{
    display: none;
    justify-content: center;
    align-content: center;
    perspective: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
}

img{
    height: 100%;
    border-radius: 1rem;
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front,
.back{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    backface-visibility: hidden;
    background-size: contain;
}

.front{
    background-image: url("https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/3/fractal-tree-50-matthias-hauser.jpg");
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, .25);
}

.back{
    transform: rotateY(180deg) rotateZ(180deg);
}

@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 319px) and (max-width: 480px) {
    h1{
        font-size: 3.5rem; 
    }


    #normal, #hard{
        font-size: 3rem;
    }

    .front,
    .back{
        border-radius: 0.25rem;
    }
}

@media (min-width: 481px) and (max-width: 991px){
    h1{
        font-size: 6rem;
    }

}