@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-image: url('../images/Rect\ Light.svg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: "Roboto", sans-serif;
}

#topRow{
    height: 65px;
    margin-top: 20px;
}

#headerTitle{
    margin: 0;
}

.zoomOff{
    animation: forwards;
    animation-name: zoomOut;
    animation-duration: .3s;
}

.zoom{
    animation: forwards;
    animation-name: zoomIn;
    animation-duration: .3s;
}

#flexContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#newPostForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#title, #message, #newPostForm{
    width: 500px;
}

#title, #message, #submit{
    margin-bottom: 10px;
}

#articleContainer{
    left: 50%;
}

#editArea{
    width: 950px;

}

#cardContainer{
    display: flex;
    justify-content: center;
    perspective: 800px;
}

#card{
    font-family: "Rubik Doodle Shadow", sans-serif;
    width: 260px;
    height: 340px;
    position: relative;
    transition: transform 2500ms;
    transform-style: preserve-3d;
    box-shadow: -15px 15px 20px rgba(0, 0, 0, .50);
}

#pokemonOfTheDay{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px #FDE767;
    background-color: lightgreen;
}

#pokemonOfTheDay, #back{
    border-radius: 7px;
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0, 0, 5px, 2px rgba(0, 0, 0, .50);
}

#pokemonName, #evolveContainer{
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 0;
}

#evolveFromImage{
    float: left;
    align-self: center;
}

#evolveFrom{
    position: relative;
    font-size: 12.5px;
    align-self: center;
    margin: 0;
}

#pokemonImage{
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px;
}

#evolveContainer{
    display: inline-flex;
    position: relative;
    height: 50px;
    left: 5px;
    top: -1px;
    margin: 0;
    
}

#back{
    background-image: url("/images/pokemonCard.jpg");
    background-size: contain;
    transform: rotateY(180deg);
    
}

#temperature, #forecast{
    margin-bottom: 5px;
}

#profilePic{
    box-shadow: -5px 5px 25px rgba(0, 0, 0, .65);
}

.card{
    background-color: transparent;
    border: none;
    height: 420px;
}

.inGamePic{
    width: 100%;
    height: 225px;
    object-fit: contain;
}

#userContainer{
    display: flex;
    flex-direction: column;
}

#postContainer{
    background-color: greenyellow;
    height: 300px;
    width: 300px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.inputBox{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

#firstNameBox{
    margin-top: 10px;
}

.submitButtons{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    margin-top: 10px;
}

.bg-body-tertiary{
    background-color: transparent !important;
}

#backgroundThanks{
    text-align: right;
}

@keyframes zoomIn {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.25;
    }
}

@keyframes zoomOut {
    0%{
        scale: 1.25;
    }
    100%{
        scale: 1;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #headerIcons{
       scale: .85;
    }

    #headerTitle{
        font-size: 2rem;
    }

    .signHeadings{
        font-size: 1.25rem;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    #headerTitle{
        font-size: 1.5rem;
    }

    #headerIcons{
        scale: .75;
     }

    .w-25{
        width: 50% !important;
    }
}

@media (min-width: 320px) and (max-width: 575px){
    #headerTitle{
        font-size: 1.35rem;
        
        
    }

    #nameAndLinks{
        width: 160px !important; /*IS THIS WHAT NICK IS TALKING ABOUT */
    }

    #headerIcons{
        scale: .55;
        justify-content: center;
     }

     #temperature, #forecast, #time{
        font-size: .85rem;
        margin-left: 10px;
     }

     #signOnButton{
        scale: .75;
        margin-right: 20px;
    }

    .w-25{
        width: 50% !important;
    }
}

