<!--NOT IN USE RIGHT NOW

<%- include("partials/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Adam Lagin</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
       <a href="mailto:adam.lagin.dev@gmail.com"><img src="/images/envelope.svg" height="75px"></a>
       <a href="https://www.linkedin.com/in/adamlagin/"><img src="/images/linkedin.svg" height="75px"></a>
       <a href="https://github.com/creepmousedev"><img src="/images/github.svg" height="75px"></a>
      </div>
    </div>
  </div>-->