<%- include("partials/header.ejs") %>

<main class="form-signin w-25 m-auto">
    <form class="d-flex flex-column" action="/signIn" method="post">
      <h1 class="h3 mb-3 fw-normal signHeadings">Please sign in</h1>
      <% if(locals.signInMessage){ %>
        <p class="signInMessage"><%= signInMessage %></p>
      <% } %>
      <div class="form-floating">
        <input type="user" class="form-control inputBox" id="floatingInput" name="userLogin" placeholder="name@example.com" required minlength="3" maxlength="15">
        <label for="floatingInput">User Name</label>
      </div>
      <!--<div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>-->
  
      <!--<div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>-->
      <button class="btn btn-primary w-50 py-2 align-self-center submitButtons" type="submit">Sign in</button>
    </form>

    <br>
    <hr>
    <br>
    <form class="d-flex flex-column" action="/createUser" method="post">
        <h1 class="h3 mb-3 fw-normal signHeadings">Create Account</h1>
        <% if(locals.createMessage){ %>
          <p class="signInMessage"><%= createMessage %></p>
        <% } %>
        <div class="form-floating">
          <input class="form-control inputBox" id="floatingInput" name="user" placeholder="name@example.com" required minlength="3" maxlength="15">
          <label for="floatingInput">User Name</label>
        </div>
        <div class="form-floating" id="firstNameBox">
          <input class="form-control inputBox" id="floatingPassword" name="firstName" placeholder="Password" required minlength="3" maxlength="15">
          <label for="floatingPassword">First Name</label>
        </div>
    
        <!--<div class="form-check text-start my-3">
          <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Remember me
          </label>
        </div>-->
        <button class="btn btn-primary w-50 py-2 align-self-center submitButtons" type="submit">Create Account</button>
      </form>
</main>

<%- include("partials/footer.ejs") %>